.home {
  display: flex;
}

p {
  margin: 0;
  padding: 0;
}

.add-btn a {
  text-decoration: none;
  color: black;
}

.add-btn {
  background-color: lightgrey;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  /* box-shadow: 2px 5px grey; */
}

.add-btn a :visited {
  color: black;
}

.add-btn:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.home-main {
  /* width: 300px; */
  margin-left: 100px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
}

.add-form {
  text-align: center;
  width: 400px;
}
