.detail {
  width: 400px;
  height: 680px;
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 10px;
}

.detail-header-parent {
  display: flex;
  justify-content: space-around;
}

.detail-header-parent h4 {
  margin-top: 0px;
  font-size: 40px;
  color: #5745d3;
  cursor: pointer;
}

.detail-header {
  border-radius: 30px;
  height: 55px;
  width: 180px;
  text-align: center;
  line-height: 58px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 3px solid #5745d3;
  color: #5745d3;
  font-size: 20px;
}
/* .detail-map {
  width: 95%;
  height: 250px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  background-color: yellowgreen;
} */

.detail-text,
.detail-text-sub {
  background-color: lightgray;
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 30px;
  height: 40px;
  margin: 30px auto;
}

.detail-text span {
  font-size: 22px;
  font-weight: 600;
  vertical-align: middle;
  display: inline-block;
  margin: -10px 0px 0px 25px;
}

.detail-text-sub span {
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
  display: inline-block;
  margin: -10px 0px 12px 25px;
}

.detail-text i {
  vertical-align: bottom;
}
.detail-text:hover,
.detail-text-sub:hover {
  background-color: gray;
}

.detail-body {
  margin-top: 25px;
}

.material-icons {
  font-size: 30px;
}
